
.gui-block {
    background-color: #F0F0F0;
    display: none;
    padding: 8px;
    position: fixed;
    width: 432px;
    z-index: 999;
}
.gui-block-b {
    border: 1px solid #AFAFAF;
}
.gui-block-hd {
    background-color: #EBF2F7;
    border-bottom: 1px solid #D9D9D9;
    overflow: hidden;
}
.gui-block-hd span {
    color: #000000;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
}
.gui-block-close {
    background: url("/skin/imgs/small.gif?v2.8") no-repeat scroll -16px -560px transparent;
    float: right;
    height: 16px;
    margin: 12px 10px 0 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
}
.gui-block-close:hover {
    background-position: 0 -560px;
}
.gui-block-bd {
    background-color: #FFFFFF;
    border-top: 0 none;
    font-size: 14px;
    overflow: hidden;
    padding: 20px;
    word-wrap: break-word;
}
.uploader ul {
    margin: 1em 0;
    overflow: hidden;
    text-align: left;
}
.uploader ul li {
    background-color: #E6E6E6;
    box-shadow: 0 1px 2px #666666;
    color: #333333;
    list-style: none outside none;
    margin-bottom: 0.2em;
    padding: 1em;
}
.uploader .gui-multiple-error {
    background-color: red;
}
.uploader .gui-multiple-timeout {
    background-color: purple;
}
.uploader .gui-multiple-abort {
    background-color: black;
}
.uploader .gui-multiple-success {
    background-color: green;
}
.uploader .gui-multiple-uploading {
    background-color: blue;
}
.uploader .gui-multiple-waiting {
    background-color: yellow;
}
.uploader .gui-multiple-drag-area {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    color: #C09853;
    margin: 1em 0.5em;
    padding: 1em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.uploader .gui-multiple-drag-area.gui-multiple-dragenter {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}
.edui-box {
    border: 0 none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
a.edui-box {
    color: black;
    display: block;
    text-decoration: none;
}
a.edui-box:hover {
    text-decoration: none;
}
a.edui-box:active {
    text-decoration: none;
}
table.edui-box {
    border-collapse: collapse;
}
ul.edui-box {
    list-style-type: none;
}
div.edui-box {
    display: inline-block !important;
    position: relative;
    vertical-align: top;
}
.edui-clearfix {
}
.edui-clearfix:after {
    clear: both;
    content: " ";
    display: block;
}
* html div.edui-box {
    display: inline !important;
}
:first-child + html div.edui-box {
    display: inline !important;
}
.edui-button-body, .edui-splitbutton-body, .edui-menubutton-body, .edui-combox-body {
    position: relative;
}
.edui-popup {
    -moz-user-select: none;
    position: absolute;
}
.edui-popup .edui-shadow {
    position: absolute;
    z-index: -1;
}
.edui-popup .edui-bordereraser {
    overflow: hidden;
    position: absolute;
}
.edui-tablepicker .edui-canvas {
    position: relative;
}
.edui-tablepicker .edui-canvas .edui-overlay {
    position: absolute;
}
.edui-dialog-modalmask, .edui-dialog-dragmask {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.edui-toolbar {
    position: relative;
}
.edui-label {
    cursor: default;
}
span.edui-clickable {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
span.edui-unclickable {
    color: gray;
    cursor: default;
}
.edui-popup {
    z-index: 3000;
}
.edui-popup .edui-shadow {
    background-color: black;
    box-shadow: 3px 3px 5px #818181;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.edui-popup-content {
    background-color: white;
    border: 1px solid gray;
    padding: 5px;
}
.edui-popup .edui-bordereraser {
    background-color: white;
    height: 3px;
}
.edui-menu .edui-bordereraser {
    background-color: #F1F1F1;
    height: 3px;
}
.edui-anchor-topleft .edui-bordereraser {
    left: 1px;
    top: -2px;
}
.edui-anchor-topright .edui-bordereraser {
    right: 1px;
    top: -2px;
}
.edui-anchor-bottomleft .edui-bordereraser {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    bottom: -6px;
    height: 7px;
    left: 0;
}
.edui-anchor-bottomright .edui-bordereraser {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    bottom: -6px;
    height: 7px;
    right: 0;
}
.edui-menu {
    z-index: 3000;
}
.edui-menu .edui-popup-content {
    background-color: white;
    padding: 3px;
}
.edui-menu-body {
    background: url("/skin/imgs/UEditor/menu/sparator_v.png") repeat-y scroll 25px center transparent;
    min-width: 150px;
}
.edui-menuitem {
    cursor: default;
    height: 20px;
    vertical-align: top;
}
.edui-menuitem .edui-icon {
    background: url("/skin/imgs/UEditor/icons.png") repeat scroll 0 -40px transparent;
    height: 25px !important;
    width: 25px !important;
}
.edui-menuitem .edui-label {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 20px;
}
.edui-state-checked .edui-menuitem-body {
    background: url("/skin/imgs/UEditor/icons-all.gif") no-repeat scroll 6px -205px transparent;
}
.edui-state-disabled .edui-menuitem-label {
    color: gray;
}
.edui-state-disabled .edui-icon {
    opacity: 0.3;
}
.edui-state-disabled .edui-label {
    color: gray;
}
.edui-hassubmenu .edui-arrow {
    background: url("/skin/imgs/UEditor/icons-all.gif") no-repeat scroll 10px -233px transparent;
    float: right;
    height: 20px;
    width: 20px;
}
.edui-menu-body .edui-menuitem {
    padding: 1px;
}
.edui-menuseparator {
    height: 1px;
    margin: 2px 0;
    overflow: hidden;
}
.edui-menuseparator-inner {
    border-bottom: 1px solid #E2E3E3;
    margin-left: 29px;
    margin-right: 1px;
}
.edui-menu-body .edui-state-hover {
    background-color: #FFF5D4;
    border: 1px solid #DCAC6C;
    padding: 0 !important;
}
.edui-dialog {
    position: absolute;
    z-index: 2000;
}
.edui-dialog-wrap {
    border: 1px solid #C6C6C6;
    margin-bottom: 6px;
    margin-right: 6px;
}
.edui-dialog-body {
    background-color: white;
    position: relative;
}
.edui-dialog-shadow {
    background-color: black;
    box-shadow: 3px 3px 5px #818181;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.edui-dialog-foot {
    background-color: white;
}
.edui-dialog-titlebar {
    background: url("/skin/imgs/UEditor/dialog-title-bg.png") repeat-x scroll center bottom transparent;
    border-bottom: 1px solid #C6C6C6;
    cursor: move;
    height: 26px;
    position: relative;
}
.edui-dialog-caption {
    font-size: 12px;
    font-weight: bold;
    line-height: 26px;
    padding-left: 5px;
}
.edui-dialog-draghandle {
    height: 26px;
}
.edui-dialog-closebutton {
    position: absolute !important;
    right: 5px;
    top: 3px;
}
.edui-dialog-closebutton .edui-button-body {
    background: url("/skin/imgs/UEditor/icons-all.gif") no-repeat scroll 0 -59px transparent;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
.edui-dialog-closebutton .edui-state-hover .edui-button-body {
    background: url("/skin/imgs/UEditor/icons-all.gif") no-repeat scroll 0 -89px transparent;
}
.edui-dialog-foot {
    height: 40px;
}
.edui-dialog-buttons {
    position: absolute;
    right: 0;
}
.edui-dialog-buttons .edui-button {
    margin-right: 10px;
}
.edui-dialog-buttons .edui-button .edui-button-body {
    background: url("/skin/imgs/UEditor/icons-all.gif") no-repeat scroll 0 0 transparent;
    cursor: default;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 96px;
}
.edui-dialog-buttons .edui-button .edui-state-hover .edui-button-body {
    background: url("/skin/imgs/UEditor/icons-all.gif") no-repeat scroll 0 -30px transparent;
}
.edui-dialog iframe {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.edui-dialog-modalmask {
    background-color: #CCCCCC;
    opacity: 0.3;
    position: absolute;
}
.edui-dialog-dragmask {
    background-color: transparent;
    cursor: move;
    position: absolute;
}
.edui-dialog-content {
    position: relative;
}
.dialogcontmask {
    cursor: move;
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 100%;
}
.edui-colorpicker-topbar {
    height: 27px;
    width: 200px;
}
.edui-colorpicker-preview {
    border: 1px inset black;
    float: left;
    height: 20px;
    margin-left: 1px;
    width: 128px;
}
.edui-colorpicker-nocolor {
    border: 1px solid #333333;
    cursor: pointer;
    float: right;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    margin-right: 1px;
    padding: 3px 5px;
}
.edui-colorpicker-tablefirstrow {
    height: 30px;
}
.edui-colorpicker-colorcell {
    cursor: pointer;
    display: block;
    height: 14px;
    margin: 0;
    width: 14px;
}
.edui-colorpicker-colorcell:hover {
    height: 14px;
    margin: 0;
    width: 14px;
}
.edui-tablepicker .edui-infoarea {
    clear: both;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    margin-bottom: 3px;
    width: 220px;
}
.edui-tablepicker .edui-infoarea .edui-label {
    float: left;
}
.edui-dialog-buttons .edui-label {
    line-height: 24px;
}
.edui-tablepicker .edui-infoarea .edui-clickable {
    float: right;
}
.edui-tablepicker .edui-pickarea {
    background: url("/skin/imgs/UEditor/tablepicker/unhighlighted.gif") repeat scroll 0 0 transparent;
    height: 220px;
    width: 220px;
}
.edui-tablepicker .edui-pickarea .edui-overlay {
    background: url("/skin/imgs/UEditor/tablepicker/highlighted.gif") repeat scroll 0 0 transparent;
}
.edui-autotypesetpicker .edui-autotypesetpicker-body {
    clear: both;
    font-size: 12px;
    margin-bottom: 3px;
    width: 330px;
}
.edui-autotypesetpicker-body td {
    font-size: 12px;
}
.edui-toolbar {
    -moz-user-select: none;
    cursor: default;
    padding: 1px;
}
.edui-toolbar .edui-button, .edui-toolbar .edui-splitbutton, .edui-toolbar .edui-menubutton, .edui-toolbar .edui-combox {
    margin: 1px 6px;
}
.edui-toolbar .edui-separator {
    background: url("/skin/imgs/UEditor/icons.png") repeat scroll -180px 0 transparent;
    height: 20px;
    margin: 2px 4px 2px 3px;
    width: 2px;
}
.edui-toolbar .edui-button .edui-icon, .edui-toolbar .edui-menubutton .edui-icon, .edui-toolbar .edui-splitbutton .edui-icon {
    background-image: url("/skin/imgs/UEditor/icons.png");
    height: 25px !important;
    width: 25px !important;
}
.edui-toolbar .edui-button .edui-button-wrap {
    padding: 1px;
    position: relative;
}
.edui-toolbar .edui-splitbutton-body .edui-arrow, .edui-toolbar .edui-menubutton-body .edui-arrow {
    background: url("/skin/imgs/UEditor/icons.png") repeat scroll -741px 0 transparent;
    height: 20px;
    width: 9px;
}
.edui-toolbar .edui-splitbutton .edui-splitbutton-body, .edui-toolbar .edui-menubutton .edui-menubutton-body {
    padding: 1px;
}
.edui-toolbar .edui-splitborder {
    height: 20px;
    width: 1px;
}
.edui-toolbar .edui-state-hover .edui-splitborder {
    border-left: 0 solid #DCAC6C;
    width: 1px;
}
.edui-toolbar .edui-state-active .edui-splitborder {
    border-left: 1px solid gray;
    width: 0;
}
.edui-toolbar .edui-state-opened .edui-splitborder {
    border: 0 none;
    width: 1px;
}
.edui-toolbar .edui-splitbutton .edui-state-hover .edui-splitbutton-body, .edui-toolbar .edui-menubutton .edui-state-hover .edui-menubutton-body {
    background-color: #FFF5D4;
    border: 1px solid #DCAC6C;
    padding: 0;
}
.edui-toolbar .edui-splitbutton .edui-state-checked .edui-splitbutton-body, .edui-toolbar .edui-menubutton .edui-state-checked .edui-menubutton-body {
    background-color: #FFE69F;
    border: 1px solid #DCAC6C;
    padding: 0;
}
.edui-toolbar .edui-splitbutton .edui-state-active .edui-splitbutton-body, .edui-toolbar .edui-menubutton .edui-state-active .edui-menubutton-body {
    background-color: #FFFFFF;
    border: 1px solid gray;
    padding: 0;
}
.edui-state-disabled .edui-arrow {
    opacity: 0.3;
}
.edui-toolbar .edui-splitbutton .edui-state-opened .edui-splitbutton-body, .edui-toolbar .edui-menubutton .edui-state-opened .edui-menubutton-body {
    background-color: white;
    border: 1px solid gray;
    padding: 0;
}
.edui-for-insertorderedlist .edui-bordereraser, .edui-for-lineheight .edui-bordereraser, .edui-for-rowspacingtop .edui-bordereraser, .edui-for-rowspacingbottom .edui-bordereraser, .edui-for-insertunorderedlist .edui-bordereraser {
    background-color: white;
}
.edui-for-insertorderedlist .edui-popup-body .edui-icon, .edui-for-lineheight .edui-popup-body .edui-icon, .edui-for-rowspacingtop .edui-popup-body .edui-icon, .edui-for-rowspacingbottom .edui-popup-body .edui-icon, .edui-for-insertunorderedlist .edui-popup-body .edui-icon {
    background-position: 0 -40px;
}
.edui-toolbar .edui-colorbutton .edui-colorlump {
    bottom: 1px;
    height: 4px;
    left: 1px;
    overflow: hidden;
    position: absolute;
    width: 18px;
}
.edui-toolbar .edui-combox-body .edui-button-body {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    white-space: nowrap;
    width: 60px;
}
.edui-toolbar .edui-combox-body .edui-arrow {
    background: url("/skin/imgs/UEditor/icons.png") repeat scroll -741px 0 transparent;
    height: 20px;
    width: 9px;
}
.edui-toolbar .edui-combox .edui-combox-body {
    background-color: white;
    border: 1px solid #CCCCCC;
}
.edui-toolbar .edui-combox-body .edui-splitborder {
    display: none;
}
.edui-toolbar .edui-combox-body .edui-arrow {
    border-left: 1px solid #CCCCCC;
}
.edui-toolbar .edui-state-hover .edui-combox-body {
    background-color: #FFF5D4;
    border: 1px solid #DCAC6C;
}
.edui-toolbar .edui-state-hover .edui-combox-body .edui-arrow {
    border-left: 1px solid #DCAC6C;
}
.edui-toolbar .edui-state-checked .edui-combox-body {
    background-color: #FFE69F;
    border: 1px solid #DCAC6C;
}
.edui-toolbar .edui-state-checked .edui-combox-body .edui-arrow {
    border-left: 1px solid #DCAC6C;
}
.edui-toolbar .edui-state-disabled .edui-combox-body {
    background-color: #F0F0EE;
    opacity: 0.3;
}
.edui-toolbar .edui-state-opened .edui-combox-body {
    background-color: white;
    border: 1px solid gray;
}
.edui-list .edui-bordereraser {
    display: none;
}
.edui-listitem {
    padding: 1px;
    white-space: nowrap;
}
.edui-list .edui-state-hover {
    background-color: #FFF5D4;
    border: 1px solid #DCAC6C;
    padding: 0;
    position: relative;
}
.edui-for-fontfamily .edui-listitem-label {
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    min-width: 120px;
    padding-left: 5px;
}
.edui-for-underline .edui-listitem-label {
    font-size: 12px;
    min-width: 120px;
    padding: 3px 5px;
}
.edui-for-fontsize .edui-listitem-label {
    min-width: 120px;
    padding: 3px 5px;
}
.edui-for-paragraph .edui-listitem-label {
    min-width: 200px;
    padding: 2px 5px;
}
.edui-for-rowspacingtop .edui-listitem-label, .edui-for-rowspacingbottom .edui-listitem-label {
    min-width: 53px;
    padding: 2px 5px;
}
.edui-for-lineheight .edui-listitem-label {
    min-width: 53px;
    padding: 2px 5px;
}
.edui-for-customstyle .edui-listitem-label {
    min-width: 200px;
    padding: 2px 5px;
    width: 200px !important;
}
.edui-for-bold .edui-icon {
    background-position: -25px -50px;
}
.edui-for-bold .edui-state-hover .edui-icon {
    background-position: -25px 0;
}
.edui-for-bold .edui-state-active .edui-icon, .edui-for-bold .edui-state-checked .edui-icon {
    background-position: -25px -25px;
}
.edui-for-italic .edui-icon {
    background-position: -50px -50px;
}
.edui-for-italic .edui-state-hover .edui-icon {
    background-position: -50px 0;
}
.edui-for-italic .edui-state-active .edui-icon, .edui-for-italic .edui-state-checked .edui-icon {
    background-position: -50px -25px;
}
.edui-for-link .edui-icon {
    background-position: -275px -50px;
}
.edui-for-link .edui-state-hover .edui-icon {
    background-position: -275px 0;
}
.edui-for-link .edui-state-active .edui-icon, .edui-for-link .edui-state-checked .edui-icon {
    background-position: -275px -25px;
}
.edui-for-insertimage .edui-icon {
    background-position: -75px -50px;
}
.edui-for-insertimage .edui-state-hover .edui-icon {
    background-position: -75px 0;
}
.edui-for-insertimage .edui-state-active .edui-icon, .edui-for-insertimage .edui-state-checked .edui-icon {
    background-position: -75px -25px;
}
.edui-for-insertvideo .edui-icon {
    background-position: -100px -50px;
}
.edui-for-insertvideo .edui-state-hover .edui-icon {
    background-position: -100px 0;
}
.edui-for-insertvideo .edui-state-active .edui-icon, .edui-for-insertvideo .edui-state-checked .edui-icon {
    background-position: -100px -25px;
}
.edui-for-insertunorderedlist .edui-icon {
    background-position: -175px -50px;
}
.edui-for-insertunorderedlist .edui-state-hover .edui-icon {
    background-position: -175px 0;
}
.edui-for-insertunorderedlist .edui-state-active .edui-icon, .edui-for-insertunorderedlist .edui-state-checked .edui-icon {
    background-position: -175px -25px;
}
.edui-for-insertorderedlist .edui-icon {
    background-position: -200px -50px;
}
.edui-for-insertorderedlist .edui-state-hover .edui-icon {
    background-position: -200px 0;
}
.edui-for-insertorderedlist .edui-state-active .edui-icon, .edui-for-insertorderedlist .edui-state-checked .edui-icon {
    background-position: -200px -25px;
}
.edui-for-insertmathjax .edui-icon {
    background-position: -125px -50px;
}
.edui-for-insertmathjax .edui-state-hover .edui-icon {
    background-position: -125px 0;
}
.edui-for-insertmathjax .edui-state-active .edui-icon, .edui-for-insertmathjax .edui-state-checked .edui-icon {
    background-position: -125px -25px;
}
.edui-for-blockquote .edui-icon {
    background-position: -150px -50px;
}
.edui-for-blockquote .edui-state-hover .edui-icon {
    background-position: -150px 0;
}
.edui-for-blockquote .edui-state-active .edui-icon, .edui-for-blockquote .edui-state-checked .edui-icon {
    background-position: -150px -25px;
}
.edui-for-insertcode .edui-icon {
    background-position: -300px -50px;
}
.edui-for-insertcode .edui-state-hover .edui-icon {
    background-position: -300px 0;
}
.edui-for-insertcode .edui-state-active .edui-icon, .edui-for-insertcode .edui-state-checked .edui-icon {
    background-position: -300px -25px;
}
.edui-for-fullscreen .edui-icon {
    background-position: -225px -50px;
}
.edui-for-fullscreen .edui-state-hover .edui-icon {
    background-position: -225px 0;
}
.edui-for-fullscreen .edui-state-active .edui-icon {
    background-position: -225px -25px;
}
.edui-for-fullscreen .edui-state-hover.edui-state-checked .edui-icon {
    background-position: -250px 0;
}
.edui-for-fullscreen .edui-state-active.edui-state-checked .edui-icon {
    background-position: -250px -25px;
}
.edui-for-fullscreen .edui-state-checked .edui-icon {
    background-position: -250px -50px;
}
.edui-for-link .edui-dialog-content {
    height: 200px;
    overflow: hidden;
    width: 420px;
}
.edui-for-background .edui-dialog-content {
    height: 280px;
    overflow: hidden;
    width: 440px;
}
.edui-for-template .edui-dialog-content {
    height: 390px;
    overflow: hidden;
    width: 630px;
}
.edui-for-emoticon .edui-dialog-content {
    height: 360px;
    width: 515px;
}
.edui-for-scrawl .edui-dialog-content {
    height: 360px;
    width: 515px;
}
.edui-for-spechars .edui-dialog-content {
    height: 500px;
    width: 620px;
}
.edui-for-insertimage .edui-dialog-content {
    height: 390px;
    overflow: hidden;
    width: 640px;
}
.edui-for-webapp .edui-dialog-content {
    height: 450px;
    overflow: hidden;
    width: 560px;
}
.edui-for-insertframe .edui-dialog-content {
    height: 200px;
    overflow: hidden;
    width: 350px;
}
.edui-for-wordimage .edui-dialog-content {
    height: 380px;
    overflow: hidden;
    width: 620px;
}
.edui-for-attachment .edui-dialog-content {
    height: 360px;
    overflow: hidden;
    width: 480px;
}
.edui-for-highlightcode .edui-dialog-content {
    height: 360px;
    overflow: hidden;
    width: 550px;
}
.edui-for-map .edui-dialog-content {
    height: 400px;
    width: 550px;
}
.edui-for-gmap .edui-dialog-content {
    height: 400px;
    width: 550px;
}
.edui-for-insertvideo .edui-dialog-content {
    height: 390px;
    width: 590px;
}
.edui-for-anchor .edui-dialog-content {
    height: 60px;
    overflow: hidden;
    width: 320px;
}
.edui-for-searchreplace .edui-dialog-content {
    height: 180px;
    width: 400px;
}
.edui-for-help .edui-dialog-content {
    height: 420px;
    width: 400px;
}
.edui-for-inserttable .edui-dialog-content {
    height: 275px;
    width: 510px;
}
.edui-for-edittd .edui-dialog-content {
    height: 125px;
    width: 220px;
}
.edui-for-snapscreen .edui-dialog-content {
    height: 220px;
    width: 400px;
}
.edui-editor-toolbarmsg-upload {
    color: blue;
    cursor: pointer;
    font-size: 14px;
    height: 16px;
    left: 350px;
    line-height: 16px;
    position: absolute;
    top: 5px;
    width: 100px;
}
.edui-for-paragraph .edui-listitem-label {
    font-family: Tahoma,Verdana,Arial,Helvetica;
}
.edui-for-paragraph .edui-listitem-label .edui-for-p {
    font-size: 22px;
    line-height: 27px;
}
.edui-for-paragraph .edui-listitem-label .edui-for-h1 {
    font-size: 32px;
    font-weight: bolder;
    line-height: 36px;
}
.edui-for-paragraph .edui-listitem-label .edui-for-h2 {
    font-size: 27px;
    font-weight: bolder;
    line-height: 29px;
}
.edui-for-paragraph .edui-listitem-label .edui-for-h3 {
    font-size: 19px;
    font-weight: bolder;
    line-height: 23px;
}
.edui-for-paragraph .edui-listitem-label .edui-for-h4 {
    font-size: 16px;
    font-weight: bolder;
    line-height: 19px;
}
.edui-for-paragraph .edui-listitem-label .edui-for-h5 {
    font-size: 13px;
    font-weight: bolder;
    line-height: 16px;
}
.edui-for-paragraph .edui-listitem-label .edui-for-h6 {
    font-size: 12px;
    font-weight: bolder;
    line-height: 14px;
}
.edui-editor {
    border: 1px solid #D9D9D9;
    overflow: visible;
    position: relative;
}
.edui-editor-toolbarbox {
    line-height: 1.5;
    position: relative;
}
.edui-editor-toolbarboxouter {
    background-color: #F4F4F4;
    border-bottom: 1px solid #D9D9D9;
}
.edui-editor-toolbarboxinner {
    padding: 2px;
}
.edui-editor-iframeholder {
    position: relative;
}
.edui-editor-iframeholder textarea {
    font-family: consolas,"Courier New","lucida console",monospace;
    font-size: 12px;
    line-height: 18px;
}
.edui-editor-bottomContainer {
    display: none;
}
.edui-toolbar .edui-for-fullscreen {
    float: right;
}
.edui-bubble .edui-popup-content {
    background-color: #FFF6D9;
    border: 1px solid #DCAC6C;
    font-family: "宋体";
    font-size: 10pt;
    padding: 5px;
}
.edui-bubble .edui-shadow {
    box-shadow: 1px 1px 3px #818181;
}
.edui-editor-toolbarmsg {
    background-color: #FFF6D9;
    border-bottom: 1px solid #CCCCCC;
    bottom: -25px;
    left: 0;
    position: absolute;
    width: 99.9%;
    z-index: 1009;
}
.edui-editor-toolbarmsg-label {
    font-size: 12px;
    line-height: 16px;
    padding: 4px;
}
.edui-editor-toolbarmsg-close {
    color: red;
    cursor: pointer;
    float: right;
    height: 16px;
    line-height: 16px;
    width: 20px;
}
.edui-for-emotion .edui-icon {
    background-position: -60px -20px;
}
.edui-for-emotion .edui-popup-content {
    position: relative;
    z-index: 555;
}
.edui-for-emotion .edui-popup-content iframe {
    height: 380px;
    overflow: hidden;
    width: 514px;
}
.edui-for-emotion .edui-splitborder {
    display: none;
}
.edui-for-emotion .edui-splitbutton-body .edui-arrow {
    width: 0;
}
.gui-menu-focus {
    display: block;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin-top: -1px;
    outline: 0 none;
    width: 100%;
}
.gui-menu-focus:focus {
    outline: 0 none;
}
.gui-menu-list {
    background-color: #FFFFFF;
    border: 1px solid #C5C5C5;
    box-shadow: 1px 1px 2px #CCCCCC;
    color: #006699;
}
.gui-menu-list li {
    height: 22px;
    line-height: 22px;
    padding: 2px 10px;
}
.gui-menu-list li a {
    text-decoration: none;
}
.gui-menu-list li a:hover {
    text-decoration: none;
}
.gui-menu-list .selected {
    background-color: #29A2CF;
    color: #FFFFFF;
    text-decoration: none;
}
.gui-menu-list .selected a {
    color: #FFFFFF;
}
.gui-autocomplete-menu li {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.gui-at {
    background-color: #FFFFFF;
    margin-left: 2px;
    position: absolute;
    width: 280px;
    z-index: 1000;
}
.gui-at input, .gui-at p {
    width: 270px;
}
.gui-at p {
    border: 1px solid #C5C5C5;
    box-shadow: 1px 1px 2px #CCCCCC;
    color: #BBBBBB;
    height: 30px;
    line-height: 30px;
    margin-top: -1px;
    padding: 0 5px;
}
.gui-at-none {
    background-color: #F5F5F5;
}
.gui-at .gui-menu {
    margin-top: -1px;
}
.gui-block-tab {
    background-color: #F3F3F3;
    height: 40px;
    margin: -20px -20px 0;
    overflow: hidden;
}
.gui-block-tab li {
    float: left;
    height: 32px;
    line-height: 32px;
    margin: 8px 10px 0;
    text-align: center;
    width: 66px;
}
.gui-block-tab .current {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}
.gui-block-tab a {
    color: #888888;
}
.gui-block-tab .current a {
    color: #616161;
    font-weight: bold;
}
.gui-block-error {
    color: red;
}
.gui-block-bd .uploader {
    margin-top: 20px;
}
.gui-block-bd-hd {
    margin: 20px 0 10px;
}
.gui-block-bd-hd-title {
    color: #333333;
}
.gui-block-bd-hd-desc {
    color: #888888;
    font-size: 12px;
}
.gui-block-bd-intro {
    color: #666666;
    margin-bottom: 10px;
}
.gui-block-bd .b_txt {
    width: 300px;
}
.gui-block-bd-do {
    margin-top: 20px;
}
.gui-block-bd-do .mw_btn {
    color: #888888;
    font-weight: bold;
    margin-right: 20px;
}
.gui-block-bd-do a {
    color: #BBBBBB;
    margin-right: 20px;
}
.gui-block-bd-do .gbtn-primary {
    color: #FFFFFF;
}
.gui-block-uploader p {
    font-size: 12px;
    margin-top: 4px;
}
.gui-block-uploader p img {
    float: left;
    margin-right: 6px;
}
.gui-block-uploader-hide {
    background: none repeat scroll 0 center transparent;
    border: 0 none;
    cursor: pointer;
    font-size: 18px;
    height: 28px;
    line-height: 28px;
    opacity: 0;
    position: absolute;
    vertical-align: middle;
    width: 382px;
}
.gui-block-uploader .b_txt {
    width: 300px;
}
.gui-block-uploader .sw_btn {
    margin-left: 20px;
}
.gui-ubb-b {
    border: 1px solid #D3D3D3;
}
.gui-ubb-gap {
    overflow: hidden;
    padding: 5px;
    position: relative;
}
.gui-ubb-pre, .gui-ubb-b .gui-ubb-gap textarea, .gui-ubb-editor {
    background-color: #FFFFFF;
    border: 0 none;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    outline: 0 none;
    overflow: auto;
    padding: 0;
    resize: none;
    width: 100%;
    word-wrap: break-word;
}
.gui-ubb-pre {
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 5px;
    white-space: pre-wrap;
    z-index: -1000;
}
.gui-ubb-pre span {
    white-space: pre-wrap;
}
.gui-ubb-editor {
    background-color: transparent;
    color: #000000;
    display: none;
    white-space: pre-wrap;
}
.gui-ubb-links {
    background-color: #F5F5F5;
    border: 1px solid #D3D3D3;
    margin-bottom: -1px;
    overflow: hidden;
    padding: 5px 0;
}
.gui-ubb-bold, .gui-ubb-italic, .gui-ubb-link, .gui-ubb-image, .gui-ubb-video, .gui-ubb-ref, .gui-ubb-at, .gui-ubb-ul, .gui-ubb-ol {
    background: url("/skin/imgs/small.gif?v2.8") no-repeat scroll 0 -610px transparent;
    float: left;
    height: 27px;
    margin-right: -1px;
    outline: 0 none;
    text-indent: -9999px;
    width: 27px;
}
.gui-ubb-toggle {
    color: #BBBBBB;
    float: right;
    line-height: 26px;
    margin-right: 5px;
}
.gui-ubb-toggle a {
    color: #BBBBBB;
}
.gui-ubb-bold {
    margin-left: 5px;
}
.gui-ubb-italic {
    background-position: -26px -610px;
}
.gui-ubb-link {
    background-position: -52px -610px;
}
.gui-ubb-image {
    background-position: -78px -610px;
}
.gui-ubb-video {
    background-position: -104px -610px;
}
.gui-ubb-at {
    background-position: -130px -610px;
}
.gui-ubb-ref {
    background-position: -156px -610px;
}
.gui-ubb-ul {
    background-position: -182px -610px;
}
.gui-ubb-ol {
    background-position: -208px -610px;
}
.gui-ubb-bold:hover {
    background-position: 0 -610px;
}
.gui-ubb-italic:hover {
    background-position: -26px -580px;
}
.gui-ubb-link:hover {
    background-position: -52px -580px;
}
.gui-ubb-image:hover {
    background-position: -78px -580px;
}
.gui-ubb-video:hover {
    background-position: -104px -580px;
}
.gui-ubb-at:hover {
    background-position: -130px -580px;
}
.gui-ubb-ref:hover {
    background-position: -156px -580px;
}
.gui-ubb-ul:hover {
    background-position: -182px -610px;
}
.gui-ubb-ol:hover {
    background-position: -208px -610px;
}
.gui-ubbv-line {
    border-bottom: 1px solid #CCCCCC;
    font-size: 0;
    height: 1px;
    line-height: 1px;
    margin: 5px 0;
    width: 230px;
}
.gui-ubbv-ref {
    color: #999999;
    line-height: 1.5;
    margin: 10px 0;
}
.gui-ubbv-ref-bd {
    position: relative;
}
.gui-ubbv-ref-bd-pic {
    float: right;
    margin: 24px 0 0 15px;
}
.gui-ubbv-ref-bd h3 {
    margin-top: 2px;
    width: 390px;
}
.post .gui-ubbv-ref-bd h3 {
    width: 400px;
}
.gui-ubbv-ref-bd h3 a {
    font-size: 14px;
}
.gui-ubbv-ref-bd-info {
    position: absolute;
    right: 0;
    top: 2px;
}
.gui-ubbv-ref-bd-desc {
    color: #333333;
    margin-top: 4px;
}
.gui-ubbv-ol {
    border: medium none !important;
    margin: 0 !important;
    overflow: visible !important;
    padding: 0 !important;
}
.gui-ubbv-ol li {
    border: medium none !important;
    list-style: decimal outside none !important;
    margin: 0 0 0 20px !important;
    overflow: visible !important;
    padding: 0 !important;
}
.gui-ubbv-ul {
    border: medium none !important;
    margin: 0 !important;
    overflow: visible !important;
    padding: 0 !important;
}
.gui-ubbv-ul li {
    border: medium none !important;
    list-style: square outside none !important;
    margin: 0 0 0 20px !important;
    overflow: visible !important;
    padding: 0 !important;
}
.form-div .upload-input {
    opacity: 0;
}
.form-div .upload-mark {
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 1px 1px 1px #DDDDDD inset;
    cursor: pointer;
    height: 25px;
    left: 90px;
    line-height: 25px;
    padding-left: 5px;
    position: absolute;
    vertical-align: middle;
    width: 338px;
}
.form-div .upload-btn {
    left: 450px;
    position: absolute;
}
.head-summary {
    font-size: 12px;
}
.head-views {
    float: left;
}
.main-head {
    float: left;
}
.main-head .main-head-holder {
    border: 1px solid #E9E9E9;
    box-shadow: 3px 3px 3px #E9E9E9;
    height: 160px;
    padding: 4px;
    width: 160px;
}
.main-head .center {
    margin-top: 5px;
    text-align: center;
}
.other-head {
    margin-left: 220px;
    margin-top: 4px;
}
.head-cut {
    float: left;
    margin-right: 60px;
}
.crop {
    clear: both;
    overflow: hidden;
}
.crop .mask_wrapper {
    background-color: #000000;
    float: left;
    position: relative;
    z-index: 1;
}
.crop .img_mask {
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 2;
}
.crop .cover_mask {
    left: 0;
    position: absolute;
    top: 0;
}
.crop .resizer_mask {
    background-color: #CCCCCC;
    border: 2px dashed #CCCCCC;
    bottom: 0;
    cursor: se-resize;
    height: 10px;
    opacity: 0.5;
    position: absolute;
    right: 0;
    width: 10px;
}
.crop .preview {
    overflow: hidden;
}
.crop .preview_big_pic {
    max-width: 315px;
}
.crop .top_border, .crop .left_border, .crop .right_border, .crop .bottom_border {
    background: none repeat scroll 0 0 #CCCCCC;
}
.crop .top_border {
    font-size: 0;
    height: 9px;
    left: 0;
    position: absolute;
    top: -8px;
    width: 100%;
}
.crop .left_border {
    height: 100%;
    left: -8px;
    position: absolute;
    top: 0;
    width: 9px;
}
.crop .right_border {
    cursor: e-resize;
    height: 100%;
    position: absolute;
    right: -8px;
    top: 0;
    width: 9px;
}
.crop .bottom_border {
    bottom: -8px;
    cursor: n-resize;
    font-size: 0;
    height: 9px;
    left: 0;
    position: absolute;
    width: 100%;
}
.crop_operation {
    float: left;
    margin: 0 40px 26px 0;
    width: 320px;
}
.crop_operation .hint {
    color: #888888;
    height: 34px;
    line-height: 34px;
}
#preview48, #preview24, #preview160 {
    overflow: hidden;
}
.cut-btns .gbtn-primary {
    margin-left: 20px;
}
.cut-btns .gbtn {
    margin-left: 10px;
}
.settings-profile-page .gform .gform-box-count-tip {
    margin: 8px 0 0;
    position: absolute;
}
.settings-profile-page .gform .gform-box-count {
    margin-top: 8px;
    text-align: right;
    width: 402px;
}
.main .content h3 {
    border-bottom: 1px solid #E9E9E9;
    color: #666666;
    font-size: 14px;
    line-height: 30px;
    padding: 0 0 10px 10px;
}
.change_password {
    margin: 20px 0;
}
.change_password label {
    clear: left;
    color: #999999;
    float: left;
    font-size: 12px;
    height: 27px;
    line-height: 27px;
    margin-right: 10px;
    text-align: right;
    vertical-align: middle;
    width: 80px;
}
.change_password .buttons {
    margin: 20px 0 0 90px;
}
.change_password .save {
    margin-right: 5px;
}
.email_verify {
    font-size: 14px !important;
}
.email_verify em {
    margin: 10px 0 25px !important;
}
.email_verify .gbtn-send {
    background: url("imgs/4-login_reg.png") no-repeat scroll 0 -120px transparent;
    border: medium none;
    color: #FFFFFF;
    height: 32px;
    line-height: 32px;
    margin: 10px 0 0 85px;
    text-align: center;
    width: 128px;
}
.gbind p {
    padding: 10px 0;
    position: relative;
}
.gicon-sina, .gicon-qq, .gicon-rr {
    padding: 0 10px 0 58px;
    position: absolute;
    z-index: 1;
}
.gbind-line {
    border-top: 1px dotted #D9D9D9;
    display: block;
    height: 0;
    position: relative;
    top: 19px;
    width: 50%;
}
.gicon-bind, .gicon-unbind, .gicon-binded {
    margin: 8px 0 0 50%;
    padding-left: 25px;
}
.gicon-binded {
    color: #999999;
}
.gicon-unbind {
    margin-left: 5px;
}
.rebind {
    display: inline-block;
    margin: 8px 0 0 50%;
    padding-left: 5px;
}
.message-new-page .gui-at > div {
    margin-top: -5px;
}
.message-new-page .gform .gttxt + .tip {
    margin: 0;
}
.message-content-page .main-form {
    margin: 20px auto 0;
    width: 470px;
}
.message-content-page .main-form textarea {
    height: 90px;
    width: 458px;
}
.message-content-page .main-form p {
    margin-top: 10px;
}
.message-content-page .main-form-vcode {
    height: 30px;
    line-height: 30px;
    position: relative;
}
.message-content-page .main-form-vcode input {
    vertical-align: middle;
}
.message-content-page .main-form-vcode label {
    height: 30px;
    left: -65px;
    line-height: 30px;
    position: absolute;
    text-align: right;
    width: 48px;
}
.message-content-page .main-form-vcode span {
    color: #CCCCCC;
}
.message-content-page .main-form-vcode-txt {
    width: 6em;
}
.message-content-page .main-form-vcode-pic {
    display: inline;
    margin: 0 10px;
    vertical-align: middle;
}
.message-content-page .gform .gform-captcha label {
    position: static;
    width: 50px;
}
.message-content-page .main-form-do {
    text-align: right;
}
.message-content-page .main-message {
    font-size: 12px;
    line-height: 22px;
    margin-top: 30px;
}
.message-content-page .main-message li {
    margin: 0 auto 20px;
    position: relative;
}
.message-content-page .main-message-content {
    background-color: #F9F9F9;
    border: 1px solid #DEDEDE;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 3px 3px 3px #F7F7F7;
    color: #666666;
    padding: 12px 15px;
    word-wrap: break-word;
}
.message-content-page .main-message-content blockquote {
    border-left: 1px solid #D5D5D5;
    color: #999999;
    line-height: 20px;
    margin: 0 0 10px 5px;
    padding: 0 0 0 9px;
}
.message-content-page .main-message-content-do {
    border-top: 1px dashed #D8D8D8;
    color: #999999;
    margin-top: 3px;
    overflow: hidden;
    padding-top: 5px;
}
.message-content-page .main-message-avatar {
    left: -65px;
    position: absolute;
}
.message-content-page .main-message-avatar .arrow {
    border-color: transparent #DEDEDE transparent transparent;
    border-style: dashed solid dashed dashed;
    border-width: 6px;
    font-size: 0;
    height: 0;
    left: 55px;
    position: absolute;
    top: 13px;
    width: 0;
}
.message-content-page .main-message-avatar .arrow .arrow {
    border-color: transparent #FAFAFA transparent transparent;
    left: -4px;
    top: -6px;
}
.message-content-page .sent .main-message-content {
    background-color: #FFFFFF;
}
.message-content-page .sent .main-message-avatar {
    left: auto;
    right: -65px;
}
.message-content-page .sent .main-message-avatar .arrow {
    border-color: transparent transparent transparent #DEDEDE;
    border-style: dashed dashed dashed solid;
    border-width: 6px;
    left: -18px;
    position: absolute;
    top: 12px;
}
.message-content-page .sent .main-message-avatar .arrow .arrow {
    border-color: transparent transparent transparent #FFFFFF;
    border-style: dashed dashed dashed solid;
    left: -7px;
    top: -6px;
}
.message-content-page .error, .message-content-page .main-form-vcode .error {
    color: #E56B2E;
}
.message-content-page .gform label {
    left: -82px;
}
.message-content-page .gform .gttxt + .tip {
    margin: 0;
}
.message-index-page .gbtitle a.main-write {
    color: #999999;
    float: right;
    margin-bottom: 3px;
    margin-right: 60px;
}
.message-index-page .main-message {
    font-size: 12px;
    line-height: 22px;
    margin-top: 20px;
}
.message-index-page .main-message li {
    color: #999999;
    margin-top: 0px;
}
.message-index-page .pt-pic {
    position: relative;
}
.message-index-page .pt-pic sup {
    background: none repeat scroll 0 0 #FF172B;
    border: 2px solid #FFFFFF;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 1px 1px 4px #000000;
    color: #FFFFFF;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.2;
    margin-left: 1px;
    padding: 0 3px;
    position: absolute;
    right: -5px;
    text-align: center;
    top: -5px;
}
.message-index-page .pt-txt-d {
    overflow: hidden;
}
.message-index-page .msg-hover {
    visibility: hidden;
}
.message-index-page .hover .msg-hover {
    visibility: visible;
}
.notice-page h2 a {
    color: #4BA733;
}
.notice-page .titles {
    font-size: 12px;
}
.notice-page .titles li {
    background-color: #F7F7F7;
    border-bottom: 1px solid #E9E9E9;
    padding: 16px 10px;
}
.notice-page .titles li h3 {
    font-weight: normal;
}
.notice-page .titles li a {
    color: #666666;
}
.notice-page .titles .unread {
    background-color: #FFFFFF;
}
.notice-page .titles .unread a {
    color: #0078B6;
}
.draft-page .gbtitle h2 a {
    color: #4BA733;
}
.draft-page .gbtitle-txt {
    color: #666666;
    float: right;
    margin-right: 100px;
}
.draft-page ul {
    font-size: 12px;
}
.draft-page ul li {
    border-bottom: 1px solid #E9E9E9;
    padding: 16px 10px;
}
.draft-page ul li h3 {
    font-weight: normal;
}
.draft-page ul .title-delete {
    color: #666666;
    float: right;
    margin-left: 30px;
}
.settings-profile-page .mail-reset-page {
    color: #999999;
    font-size: 12px;
}
.settings-profile-page .mail-reset-page .mail-forget-link {
    margin-left: 18px;
}
.settings-profile-page .gicon-mail_reset {
    background: url("/skin/imgs/4-icon.png?v=1") no-repeat scroll -509px -20px transparent;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    vertical-align: middle;
    width: 17px;
}
.settings-profile-page .gactived .gicon-mail_reset {
    background-position: -509px -40px;
}
.last-item {
    border-bottom: medium none !important;
}
.side {
    background-color: #F7F7F7;
    min-height: 800px;
    padding: 30px 0 0 20px;
}
.side h1 {
    font-size: 24px;
}
.side ul {
    margin: 15px 0 0 5px;
}
.side ul li {
    margin: 10px 0;
}
.side ul li a, .side ul li span {
    margin-right: 5px;
}
.main .content {
    color: #999999;
    font-size: 12px;
    line-height: 22px;
}
.main .content em {
    color: #666666;
    display: block;
    font-size: 18px;
    font-style: normal;
    line-height: 30px;
    margin: 10px 0;
}
.main .content p {
    margin: 20px 0;
}
.main .content .b_txt {
    border-color: #D9D9D9;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 1px #F2F2F2 inset;
    height: 15px;
    padding: 5px;
    vertical-align: middle;
}
.side li .gicon-notice {
    background-position: -320px -20px;
    height: 14px;
    width: 17px;
}
.side li.gactived .gicon-notice, .side gicon-notice-actived {
    background-position: -320px -40px;
    height: 14px;
    width: 17px;
}
.gform .gform-box-right {
    margin-left: 82px;
}
.message-index-page .gbtitle, .message-new-page .gbtitle, .message-content-page .gbtitle {
    color: #333333;
}
.message-index-page .gbtitle a, .message-new-page .gbtitle a, .message-content-page .gbtitle a {
    color: #4BA733;
}
.message-index-page .gbtitle .gbtitle-point-to, .message-new-page .gbtitle .gbtitle-point-to, .message-content-page .gbtitle .gbtitle-point-to {
    color: #999999;
    margin: 0 5px;
}
.message-index-page .gform, .message-new-page .gform, .message-content-page .gform {
    position: relative;
}
.message-index-page .gform label, .message-new-page .gform label, .message-content-page .gform label {
    left: 8px;
    position: absolute;
}
.message-index-page .gform textarea, .message-new-page .gform textarea, .message-content-page .gform textarea {
    height: 90px;
    width: 458px;
}
.message-index-page .gform .main-form-vcode-txt, .message-new-page .gform .main-form-vcode-txt, .message-content-page .gform .main-form-vcode-txt {
    width: 6em;
}
.message-index-page .gform .main-form-submit, .message-new-page .gform .main-form-submit, .message-content-page .gform .main-form-submit {
    margin-top: -5px;
    text-align: right;
}
.message-index-page .gform .gform-submit, .message-new-page .gform .gform-submit, .message-content-page .gform .gform-submit {
    margin-top: 0;
}
.message-content-page .gform .main-form-submit {
    margin-top: 5px;
}
.gform{
	line-height: 0px;
    margin-top: 10px;
}
.gform label {
	line-height:20px;
}